body {
  margin: 0;
  padding: 0;
  background-color: #252735;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="button"] {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
}

#terminal {
  width: 100%;
  flex: 1 0;
}

#menu {
  background: #3ecf8e;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}

#menu input {
  padding: 16px;
}

#snappy-img div {
  position: "absolute";
  left: 20%;
  top: 0;
}

.upload-btn {
  border: 1px dashed #fff;
  color: white;
  padding: 0 20px;
  margin: 0 5px;
  cursor: pointer;
}

.upload-btn p {
  font-family: sans-serif;
}

.xterminal {
  position: relative;
  padding: 16px;
  width: calc(80ch + 16px * 2);
  height: 60%;
  background: black;
  border-radius: 7px;
  display: flex;
}

.xterminal:before,
.xterminal:after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  border-radius: 7px;
  background: linear-gradient(45deg, #fadb28, #55d1cf),
    linear-gradient(45deg, #55d1cf, #b4bcf6);
  background-size: 400%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
  animation: steam 120s linear infinite;
}

.xterm .xterm-viewport {
  overflow-y: auto;
  scrollbar-color: var(--highlight) var(--dark);
  scrollbar-width: thin;
}

.xterm-viewport::-webkit-scrollbar {
  background-color: var(--dark);
  width: 5px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background: var(--highlight);
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
